@font-face {
    font-family: "Fira Sans";
    src: url('/static/fonts/firasans/Normal/Roman/FiraSans-Regular.woff2') format('woff2'),
         url('/static/fonts/firasans/Normal/Roman/FiraSans-Regular.woff') format('woff');
    unicode-range: U+0-FF,U+131,U+152,U+153,U+2BB,U+2BC,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans";
    src: url('/static/fonts/firasans/Normal/Italic/FiraSans-Italic.woff2') format('woff2'),
         url('/static/fonts/firasans/Normal/Italic/FiraSans-Italic.woff') format('woff');
    unicode-range: U+0-FF,U+131,U+152,U+153,U+2BB,U+2BC,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans";
    src: url('/static/fonts/firasans/Normal/Roman/FiraSans-Bold.woff2') format('woff2'),
         url('/static/fonts/firasans/Normal/Roman/FiraSans-Bold.woff') format('woff');
    unicode-range: U+0-FF,U+131,U+152,U+153,U+2BB,U+2BC,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: "Fira Sans";
    src: url('/static/fonts/firasans/Normal/Italic/FiraSans-BoldItalic.woff2') format('woff2'),
         url('/static/fonts/firasans/Normal/Italic/FiraSans-BoldItalic.woff') format('woff');
    unicode-range: U+0-FF,U+131,U+152,U+153,U+2BB,U+2BC,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Fira Mono";
    src: url('/static/fonts/firamono/FiraMono-Regular.woff2') format('woff2'),
         url('/static/fonts/firamono/FiraMono-Regular.woff') format('woff');
    unicode-range: U+0-FF,U+131,U+152,U+153,U+2BB,U+2BC,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Fira Mono";
    src: url('/static/fonts/firamono/FiraMono-Bold.woff2') format('woff2'),
         url('/static/fonts/firamono/FiraMono-Bold.woff') format('woff');
    unicode-range: U+0-FF,U+131,U+152,U+153,U+2BB,U+2BC,U+2C6,U+2DA,U+2DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
    font-weight: 600;
    font-display: swap;
}
