* {
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word; /* legacy */
    word-break: break-word; /* for WebKit/Chrome */
}

html {
    line-height: 1.5;
}

body {
    background-color: #fff;
    font-family: sans-serif;
    text-decoration-skip: ink;
    padding: 1rem 1rem 2rem 1rem;
}

main {
    max-width: 36rem;
    margin: 0 auto;
}

main > :first-child {
    margin-top: 0;
}

dd {
    margin-top: .2rem;
    margin-bottom: .7rem;
}

code, .email {
    /* http://code.iamkate.com/html-and-css/fixing-browsers-broken-monospace-font-handling/ */
    font-family: monospace, monospace;
}

footer {
    margin-top: 2rem;
    text-align: center;
}
