* {
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word; /* legacy */
    word-break: break-word; /* for WebKit/Chrome */
}

html {
    line-height: 1.5;
}

body {
    font-family: serif;
    text-decoration-skip: ink;
    padding: 1rem 1rem 2rem 1rem;
}

h1, h2, h3 {
    font-family: sans;
}

main {
    max-width: 36rem;
    margin: 0 auto;
}

main > :first-child {
    margin-top: 0;
}

dd {
    margin-top: .2rem;
    margin-bottom: .7rem;
}

code, .email {
    font-family: monospace, sans;
    font-size: 0.9em;
}

footer {
    margin-top: 2rem;
    text-align: center;
}
